.navbar {
  background: #ffffff;
  height: 90%;
  border-radius: 30px;
  width: 85%;
}

.navbarActive {
  background: #ffffff;
  height: 90%;
  border-radius: 30px;
  width: 85%;

  position: absolute;
  transition: all;
  left: 0%;
}

.label {
  color: #0166b2;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 15%;
}

.label2 {
  color: #0166b2;
  font-weight: bold;
  margin-bottom: 2%;
}
.input {
  height: "35px";
  width: 30%;
}

.forms {
  margin-top: 8%;
  background: #ffffff;
  width: 90%;
  /* border-radius: 30px; */
  overflow-x: hidden;
}

.box {
  height: 60px;
  margin-bottom: 5%;
  background: #ffffff;
  border-radius: 15px;
  border: 1.5px solid #0166b2;
}

.dropdownbutton {
  background-color: #ffffff;
  width: 60%;
  border-radius: 15px;
  border: 2.5px solid #0166b2;
}

.vl {
  border-left: 2px solid #0166b2;
  height: 60%;

  left: 60%;
}

.heading {
  text-align: center;
  color: #0166b2;
  font-family: inherit;
  font-weight: 600;
}

.table {
  border: 1px solid #0166b2;
  font-weight: 500;
  text-align: center;
  color: #0166b2;
  table-layout: auto;
  overflow-x: scroll;
  margin-right: 10%;
}

.inputbox {
  border: none;
  width: 100%;
  height: 100%;
}

.tablehead {
  color: #0166b2;
  text-align: center;
  border: 1px solid #0166b2;
  height: 50px;
}

.inputgoals {
  border: none;
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;
  border-bottom: 2px solid #0166b2;
}

.inputbox:focus {
  outline: none !important;
}

.inputgoals:focus {
  outline: none !important;
}

.icon {
  background-color: #0166b2;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}

.photo {
  height: 80%;
  background-color: gray;
}
.navbtnActive {
  background: #0166b2;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-color: 2 px solid #0166b2;
  border-radius: 30px;
  margin-top: 10%;
  width: 70%;
  height: 50%;
  font-family: inherit;
  cursor: pointer;
}
.navbtn {
  background: #ffffff;
  color: #0166b2;
  font-weight: bold;
  border-color: #0166b2;
  border: 2 px solid #0166b2;
  border-radius: 30px;
  margin-top: 10%;
  width: 70%;
  height: 50%;
  font-family: inherit;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownbutton {
  background-color: #0166b2;
  padding: 10px;
}
.dropdown-menu {
  display: none;
  position: absolute;
}
.inpBoxes {
  border: 1px solid #0166b2;
  text-align: center;
  color: #0166b2;
  table-layout: auto;
  width: 30px;
  overflow-x: scroll;
  margin-right: 10%;
}
.dropdown-button-dark-example2 {
  background: #0166b2;
  margin-left: 20%;
}
.univ {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
.internal {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 75%;
}
.discipline {
  font-weight: bold;
  font-size: x-large;
  color: #0166b2;
  margin-left: 20px;
  margin-top: 0%;
}
.dataitem {
  border: 1px solid #0166b2;
  font-weight: 500;
  text-align: center;
  color: #0166b2;
  table-layout: auto;
  overflow-x: scroll;
  margin-right: 10%;
  height: 70px;
}
.profilepic {
  margin-left: 20%;
}
.placement {
  color: #0166b2;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 40px;
  margin-top: 0%;
}

.dropdownitem {
  font-weight: 200;
  background-color: #0166b2;
}

.credits {
  border: none;
  width: 30%;
  margin-top: 10%;
  margin-left: 5%;
  border-bottom: 2px solid #0166b2;
}

.credits:focus {
  outline: none !important;
}
.Ment{
  height:20px;
  width: 100px;
  background-color: black;
}
.Editbtn{
  margin-left: 20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#0166b2;
  font-weight:bold;
  justify-items:center;
  border: none;
}
.Clearbtn{
  background-color: #0166b2;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 30px;
  position: relative;
  margin-left: 10%;
  font-weight: bold;
  justify-content: center;
  border: none;
}

.horizontalline{
  opacity: 0.6;
  background-color: #0166b2;
  border-top: 2px solid #0166b2;
  width: 60%;;
}

.editprofilebutton{
  background: white;
  margin-left: 0%;
  margin-top: 5%;
  border: none;
  color:#0166b2;
  font-weight: 700;
  width: 80px;
  font-size:13px;

}

.nomentees{
  margin-left: 0%;
  margin-right:auto;
  text-align: center;
  color:#0166b2;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  top:50%;
  margin-top: 10%;
  margin-bottom: 10%;

}